* {
  margin: 0;
 }

body {
  font-size: 30px;
}

.nav {
  display: flex;
  position: fixed;
  text-transform: uppercase;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 50px;
 background-color: #556b2f;
  background-image:
    linear-gradient(
      #556b2f, #8fbc8f
    );
  }
ul{ 
  list-style: none;
color: #ffefd5;}
a{
  text-decoration: none;
   color: #ffefd5;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  flex-wrap: wrap;
  padding-right: 50px;
  top: 0;
  right: 0;
  gap: 100px;
  padding: 25px 50px;
}

a.nav-link:hover {
  color: #ffefd5;
  border: #FDC500 solid 3px;
  background: #FDC500;
}

.welcome-section{
  display: block;
  text-align: center;
  height: 389px;
  width: 100%;
  font-size: 50px;
  letter-spacing: .3rem;
  color:white;
  background: #ffa500;
  background-image:
    linear-gradient(
      #ffa500, #ffefd5

    );
}
.title-card{
  padding-top:200px;
 
}

.projects-section-header {
  display: block;
  text-align: center;
  color: #556b2f; 
  padding-top: 100px;
  padding-bottom: 30px;
}

img.project-image {
  height: 300px;
  width:500px;
  object-fit: cover;
  border-radius: 40px 40px 0 0;
 
}

#projects {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 55px;
  background:#ffefd5;
  padding-bottom: 90px;
}

.projects-zone-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.projects-zone-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.container {
  display: block;
  background: #8fbc8f;
  border-radius: 40px;
  }
p.title {
  display: block;
  text-align: center;
  color:white;
  font-size: 30px;
  margin-top: 8px;
 }
.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 90px;
  padding-bottom: 90px;
  width: 100%;
  
}
.contact-section-header {
  font-size: 60px;
  letter-spacing: 10px;
  display: block;
  text-align: center;
  color: #8fbc8f;
  }
.contact-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 60px;
  gap: 120px;

 }
.contact-details{
  color:#8fbc8f;
}
.contact-details:hover {
  color: #8fbc8f;
  background: #FDC500;
}

@media only screen and (max-device-width: 768px) {
  html {
    font-size: 45%;
    max-width: 768px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .nav {
    height: 20%;
    width: 100%;
    display: flex;
    position: fixed;
    flex-wrap: wrap;
  }
  
  .nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 12px;
    width: 100%;
    padding-top: 4%;
  }
  
  .welcome-section {
    display: block;
    width: 100%;
  }
  
  h3.projects-section-header {
    padding-top: 10%;
  }
  
  .projects-section {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .projects-zone-1, .projects-zone-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  
  .contact-section {
    padding-top: 4%;
    padding-bottom: 6%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .contact-links {
    width: 100%;
    padding-top: 6%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; 
  }
}